:is(*, *::after,*::before) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  width:100svw;
  height: 100svh;

  color: greenyellow;
  background-color: rgb(66, 67, 65);
  font-family: monospace;
}


